@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-back: #78d8d1;
  }
}

html {
  overflow-y: overlay;
  scrollbar-gutter: stable;
}

body {
  background-color: var(--color-back);
}
